<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"><suite name="All Test Suite">

    <listeners>
        <listener class-name="ExtentReportListener.ExtentReport">
        </listener>
    </listeners>


    <test name="C:/Users/Mario Nava/Desktop/Automatizacion/Selenium_Curso">
        <classes>
            <class name="Features.Alertas">            <methods><include name="alerts"/></methods></class>
            <class name="Features.DragAndDrop"><methods><include name="dragAndDrop"/></methods></class>
            <class name="Features.MiPrimerTestDos"><methods><include name="UsoXpath"/></methods></class>
            <class name="Features.Selects"><methods><include name="listaconClicks"/><include name="listaConSendKeys"/><include name="ListaUsandoClase"/></methods></class>
            <class name="Features.Waits"><methods><include name="waits"/></methods></class>
            <class name="TareaAutomation.TareaUno"><methods><include name="TestPractices"/></methods></class>
        </classes>
    </test>
</suite>